{{> header }}
<div class="tile ml-2 mr-2 mt-2">
  <div class="tile-icon">
    <div class="example-tile-icon">
      <figure class="avatar avatar-xl">
        <img
          src="https://cdn.discordapp.com/avatars/{{ id }}/{{ avatar }}?size=256"
          alt="profile picture for {{ username }}"
        >
      </figure>
    </div>
  </div>
  <div class="tile-content">
    <h3 class="tile-title">👋 Hello, {{ username }}#{{ discriminator }}</h3>
    <p class="tile-subtitle">{{ id }}</p>
  </div>
</div>

<div class="container">
  <div class="columns">
    {{#each guilds}}
    <section class="column col-3 col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-2">
        <div class="card-header">
          <figure class="avatar avatar-lg">
            <img style="background-image: url('/img/foo')"
              src="https://cdn.discordapp.com/icons/{{ this.id }}/{{ this.icon }}?size=256"
              alt="guild icon for {{ this.name }}"
             >
          </figure>
          <div class="card-title h5">{{ this.name }}</div>
          <div class="card-subtitle text-gray">{{ this.id }}</div>
        </div>
        <div class="card-body">
          {{#if this.owner}}
          <span class="chip">owner</span>
          {{/if}}
          <span class="chip">{{ this.permissions }}</span>
        </div>
        <div class="card-footer">
          {{#if this.owner}}
          <a
            href=""
            class="btn tooltip tooltip-bottom"
            data-tooltip="Connect All Seeing Bot to this Guild"
          >
            Use
          </a>
          {{else}}
           <a href="" class="btn disabled c-not-allowed">Use</a>
          {{/if}}
        </div>
      </div>
    </section>
    {{/each}}
  </div>
</div>
{{> footer }}
